In [2]:
name = "Franco" # string o cadena de texto
age = 30 # valor entero
sunny_day = True # booleano / verdadero o falso

In [31]:
height = 1.8

In [8]:
print("Hola mundo !")

Hola mundo !

### Concatenar

Unir n elementos

In [11]:
print("Me llamo " + name)

Me llamo Franco

In [14]:
print("Tengo", age, "años")

Tengo 30 años

In [18]:
print("Tengo" + age + "años")

TypeError: can only concatenate str (not "int") to str

In [30]:
texto = "Tengo " + str(age) + " años"
print(texto)

Tengo 30 años

In [26]:
palabra1 = "Holis"
palabra2 = "pruebas"

In [27]:
resultado = palabra1 + palabra2

In [28]:
print(resultado)

Holispruebas

### Casteo de variables

Castear: convertir de un tipo de dato a otro (en la medida que sea posible)

In [36]:
edad_fer = 30
print(type(edad_fer)) # int
edad_fer = str(edad_fer) # cambiamos el tipo de dato a string
print(type(edad_fer)) # class 'str'
edad_fer = float(edad_fer) # flotante
print(type(edad_fer)) # class 'float'
edad_fer = int(edad_fer)
print(type(edad_fer)) # class 'float'

<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>

In [67]:
name = "Fer" # str
print("hasta acá ok")
name_int = float(name)

hasta acá ok

ValueError: could not convert string to float: 'Fer'

In [44]:
# esto es un comentario
# un comentario explica una funcionalidad, una linea de código, etc.

In [45]:
"""
Este es un comentario de muchas lineas
en mi codigo
para no olvidarme que hace esto :D 
"""

'\nEste es un comentario de muchas lineas\nen mi codigo\npara no olvidarme que hace esto :D \n'

In [49]:
num1 = 10
num2 = 1.41
num3 = 25
num4 = 73
# la suma entre num1 y num2 es (num1 + num2)

In [62]:
print("La suma entre ", num1, "+", num2, "es", num1 + num2)
print("El cociente entre", num3 , "y", num2, "es", num3/num2)
print(f"La diferencia entre {num3} y {num1} es {num3-num1}")
print(f"{num1} elevado a {num2} es: {num1**num2}")
print(f"{num1} por {num2} es: {num1*num2}")

La suma entre  10 + 1.41 es 11.41
El cociente entre 25 y 1.41 es 17.73049645390071
La diferencia entre 25 y 10 es 15
10 elevado a 1.41 es: 25.703957827688633
10 por 1.41 es: 14.1

In [64]:
"fran" in "frances" # Boolean

True

In [68]:
isFabiInCamil = "Fabi" in "Camila"
type(isFabiInCamil)

bool

In [69]:
import pandas as pd